#banner {
    width: 100%;
    flex-shrink: 0;
    margin-top: 20px;
    box-sizing: border-box;
    background: linear-gradient(171deg, #214127 38.88%, #CEEEC1 193.84%);
    color: #FEFEFE;
    display: flex;
    height: 22vw;
    padding: 0 10%;

    
  }
/* MRA: Dette er rotete, jeg skal rydde opp jeg lover O:-) */
  .bannertekst {
  width: 856px;
  height: 155px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;

  color: #FEFEFE;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 110% */
  }