/* --- Main --- */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#banner {
  display: flex;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: linear-gradient(171deg, #214127 38.88%, #CEEEC1 193.84%);
  color: white;
  padding: 0;
}

.text-box {
  font-family: Rubik;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: normal;
  line-height: 150%; /* 110% */
  margin-left: 5vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  gap: 10px;
}

.text-box h1 {
  font-size: clamp(1.5rem, 4vw, 3rem); /* Bruk clamp for responsiv font-størrelse */
    margin: 0;
}

.tilbake {
  color: none;
  border: none;
  padding: none;
  cursor: pointer;
  width: 5vw;  /* Juster bredde etter behov */
  background-image: none;
  background-size: contain; /* Sikrer at bildet passer inn i ikonet */
  background-repeat: no-repeat; /* Hindrer gjentagelse av bildet */
  background-position: center; /* Sentraliserer bildet i ikonet */
  margin-left: 5vw;
  margin-top: 5vw;
  transition: background-image 0.3s;
}

.tilbake:hover{
  content: url('images/tilbake_pil_hover.png');
}


.topp-bilde {
  width: 25vw;
  max-height: 25vw;
}

/* Boksene! */
.box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px; /* Mellomrom mellom bokser */
  max-width: 1200px; /*holder boksene innenfor horisontal scroll */
  margin: 60px auto;
  padding: 0;
}

.clickable-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px; /* Boksstørrelse */
  border-radius: 12px;
  border-top: 2px solid #253D27;
  border-bottom: 2px solid #253D27;
  background: #E6E6E6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  

h2 {color: #1C321E;
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
}

color: #1C321E;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-radius: 15px; /* Rundede hjørner */
  transition: background-color 0.3s, color 0.3s;
}

.clickable-box:hover {
  h2 {color: #FEFEFE;
  }
  color: #FEFEFE;
  border-radius: 12px;
  border-top: 2px solid #253D27;
  border-bottom: 2px solid #253D27;
  background: #1C321E;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.box-icon {
  width: 5vw;
  height: 5vw;
  margin-right: 10px;
  transition: transform 0.3s;
}

.box-text {
  flex-grow: 1;
}

/*IKONER I BOKSER VED HOVER*/
#box1:hover #icon1 {
  transform: scale(1.1);
  content: url('images/bærekraftkon_hover.png');
}

#box2:hover #icon2 {
  transform: scale(1.1);
  content: url('images/speed_hover.png');
}

#box3:hover #icon3 {
  transform: scale(1.1);
  content: url('images/checklist_hover.png');
}

#box4:hover #icon4 {
  transform: scale(1.1);
  content: url('images/database_hover.png');
}

#box5:hover #icon5 {
  transform: scale(1.1);
  content: url('images/terminal_hover.png');
}

#box6:hover #icon6 {
  transform: scale(1.1);
  content: url('images/connect_hover.png');
}

#box7:hover #icon7 {
  transform: scale(1.1);
  content: url('images/algorithm_hover.png');
}

#box8:hover #icon8 {
  transform: scale(1.1);
  content: url('images/certified_hover.png');
}

/* Vanlig tekst eller innhold */
.innhold-container {
  display: grid;
  gap: 60px; /* Mellomrom mellom bokser */
  margin-top: 20px; /* Ikke mellomrom til grønn topp */
  width: 90vw; /*holder boksene innenfor horisontal scroll for nå */
  margin-left: 60px;
  margin-right: 60px;
}
.innhold {
  vertical-align: top;
  align-items: center;
  padding: 5vw; /* Marger i boksen */
  border-radius: 0px 20px 20px 0px;
  border-right: none;
  border-left: none;
  background: #E6E6E6;

h2 {color: #1C321E;
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
}

color: #1C321E;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-radius: 15px; /* Rundede hjørner */
  transition: background-color 0.3s, color 0.3s;
}

/* "Responsive Styling" -chatgpt ¯\_(ツ)_/¯ */
@media screen and (max-width: 768px) {
  #banner {
      flex-direction: column;
      height: auto;
  }
  .text-box {
      width: 100%;
      height: auto;
  }
  .image {
      width: 100%;
      height: auto;
  }
  .box-container {
    grid-template-columns: 1fr;
  }
}
