html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


/* --- Banner --- */

#banner {
  display: flex;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #214127 60%, #CEEEC1 193.84%);
  color: white;
  justify-content: center;
  flex-direction: column;
}

#banner-container-marg {
  width: 90vw;
  display: flex;  
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10vw;
  padding-right: none;
  align-items: top; /* Vertikalt sentrerer innholdet i containeren */
  justify-content: center;
}

#banner-container {
  width: 85vw;
  display: flex;  
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: none;
  padding-right: 5vw;
  align-items: top; /* Vertikalt sentrerer innholdet i containeren */
  justify-content: center;
}

#banner-container-forside {
  width: 80vw;
  display: flex;  
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: top; /* Vertikalt sentrerer innholdet i containeren */
  justify-content: center;
}

#tilbake-knapp {
  flex:5;
  justify-content: center; /* Sentraliserer bildet når det er under teksten */
  align-items: top; 
}

#banner-tekst {
  flex: 60;
  color:#FEFEFE;
  font-family: Rubik;
  font-size: clamp(1rem, 1.3vw, 1.3rem); /* Bruk clamp for responsiv font-størrelse */
  padding-top: 20px;
}

#banner-tekst h1 {
  font-size: clamp(1.7rem, 4vw, 2.4rem); /* Bruk clamp for responsiv font-størrelse */
  margin: 0;
}

#banner-bilde {
  flex: 35;
  justify-content: left;
  align-items: center; /* Vertikalt sentrerer bildet innenfor banner-bilde */
  width: 100%;
  height: auto;
}

#kodegutt {
  min-width: 100px;
  max-height: 200px;
  object-fit: cover;
}

/* Verktøy-banner: tilbakeknapp */

#tilbake-knapp {
  flex: 5;
  display: fixed;
  justify-content: left;
  margin-right: 2vw;
  padding-top: 20px;
}

#tilbake {
  color: none;
  border: none;
  padding: none;
  cursor: pointer;
  min-width: 30px;  /* Juster bredde etter behov */
  background-image: none;
  background-size: contain; /* Sikrer at bildet passer inn i ikonet */
  background-repeat: no-repeat; /* Hindrer gjentagelse av bildet */
  background-position: center; /* Sentraliserer bildet i ikonet */
  transition: background-image 0.3s;
}

#tilbake:hover{
  content: url('images/tilbake_pil_hover.png');
}


/* --- Main --- */

main {
  display: block;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px; /* Mellomrom mellom bokser */
  max-width: 70vw; /*holder boksene innenfor horisontal scroll */
  margin: 60px auto;
}


/* Boksene! */

.clickable-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px; /* Boksstørrelse */
  border-radius: 12px;
  border-top: 2px solid #253D27;
  border-bottom: 2px solid #253D27;
  background: #E6E6E6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  

h2 {color: #1C321E;
  font-family: Rubik;
  font-size: clamp(1.3rem, 3vw, 2rem); /* Bruk clamp for responsiv font-størrelse */
  margin: 0;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
}

color: #232323;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-radius: 15px; /* Rundede hjørner */
  transition: background-color 0.3s, color 0.3s;
}

.clickable-box:hover {
  h2 {color: #FEFEFE;
  }
  color: #FEFEFE;
  border-radius: 12px;
  border-top: 2px solid #253D27;
  border-bottom: 2px solid #253D27;
  background: #1C321E;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.box-icon {
  width: 5vw;
  height: 5vw;
  margin-right: 10px;
  transition: transform 0.3s;
}

.box-text {
  flex-grow: 1;
}

/*IKONER I BOKSER VED HOVER*/
#box1:hover #icon1 {
  transform: scale(1.1);
  content: url('images/bærekraftkon_hover.png');
}

#box2:hover #icon2 {
  transform: scale(1.1);
  content: url('images/speed_hover.png');
}

#box3:hover #icon3 {
  transform: scale(1.1);
  content: url('images/checklist_hover.png');
}

#box4:hover #icon4 {
  transform: scale(1.1);
  content: url('images/database_hover.png');
}

#box5:hover #icon5 {
  transform: scale(1.1);
  content: url('images/terminal_hover.png');
}

#box6:hover #icon6 {
  transform: scale(1.1);
  content: url('images/connect_hover.png');
}

#box7:hover #icon7 {
  transform: scale(1.1);
  content: url('images/algorithm_hover.png');
}

#box8:hover #icon8 {
  transform: scale(1.1);
  content: url('images/certified_hover.png');
}

/* Vanlig tekst eller innhold */
.innhold-container {
  top:0;
  display:block;
  width: 60vw;
  background-color: #F1F1F1;
  border-radius: 18px;
  margin:auto;
  margin-top: 60px;
  padding-bottom: 36px;
}

.innhold {
  vertical-align: top;
  align-items: center;
  padding: 2vw; /* Marger i boksen */
  border-radius: 0px 20px 20px 0px;
  border-right: none;
  border-left: none;
  overflow-wrap: break-word; /* ✅ Breaks long words instead of overflowing */
  word-break: break-word;   /* ✅ Additional safety */

h1 {color: #1C321E;
    font-family: Rubik;
    font-size: clamp(1.7rem, 4vw, 2.4rem); /* Bruk clamp for responsiv font-størrelse */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
  }

h2 {color: #1C321E;
  font-family: Rubik;
  font-size: clamp(1.3rem, 3vw, 2rem); /* Bruk clamp for responsiv font-størrelse */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
}

color: #1C321E;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border-radius: 15px; /* Rundede hjørner */
  transition: background-color 0.3s, color 0.3s;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspektforhold */
  height: 0;
  overflow: hidden;
  background-color: #000; /* Bakgrunnsfarge for videokonteiner */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/* SJEKKLISTE */

.sjekkliste-boks {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #F1F1F1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
max-width: 60vw; /* 👈 Limit width on large screens */
padding-top: 60px;
padding-bottom: 20px;

padding-left: 60px; /* sdjkgfdhkjgf */
padding-right: 60px;

margin: 0 auto; /* 👈 Center the box itself */
}

.sjekkliste-tekst {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  color: #232323;
  font-family: Rubik;
  font-size: clamp(1rem, 1.7vw, 1.2rem);
  font-weight: 400;
  line-height: 26px;

  margin: 0 auto; /* centers the content inside the flex box */
    
  h3 {
    font-size: clamp(1rem, 2vw, 1.5rem); /* Bruk clamp for responsiv font-størrelse */
    margin: 0;
    text-decoration: underline;
  }
  ol {
    margin: 0;
    padding: 0;
    list-style-position: inside; /* Sikrer at nummereringen er innenfor margin */
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: disc;
    list-style-position: inside; /* Sikrer at nummereringen er innenfor margin */

  }
}

/* Media query for skjermer mindre enn 768px */
@media screen and (max-width: 768px) {
  #banner-container {
    flex-direction: column; /* Endrer retning til kolonne for stacking */
    align-items: flex-start; /* Justerer innhold til venstre */
  }

  #banner-container-forside {
    flex-direction: column; /* Endrer retning til kolonne for stacking */
    align-items: flex-start; /* Justerer innhold til venstre */
    padding-left: 10vw;
  }

  #banner-container-marg {
    padding-left: 5vw;
  }

  #banner-tekst, 
  #banner-bilde {
    flex: 100; /* Lar elementene ta opp full bredde */
    max-width: 100%; /* Sikrer at elementene fyller containeren */
  }

  #banner-bilde {
    justify-content: center; /* Sentraliserer bildet når det er under teksten */
    align-items: center; /* Sentraliserer bildet når det er under teksten */
  }

  .box-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}