html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


/* --- Banner --- */

#banner {
  display: flex;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #214127 60%, #CEEEC1 193.84%);
  color: white;
  justify-content: center;
}

#banner-container {
  width: 70vw;
  display: flex;  
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center; /* Vertikalt sentrerer innholdet i containeren */
}

#banner-tekst {
  flex: 64;
  color:#FEFEFE;
  font-family: Rubik;
  font-size: clamp(1rem, 1.3vw, 1.3rem); /* Bruk clamp for responsiv font-størrelse */
}

#banner-tekst h1 {
  font-size: clamp(1.7rem, 4vw, 2.4rem); /* Bruk clamp for responsiv font-størrelse */
  margin: 0;
}

#banner-bilde {
  flex: 36;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertikalt sentrerer bildet innenfor banner-bilde */
}

#emblem {
  width:93%;
  min-width: 100px;
  max-height: 250px;
  object-fit: contain;
}

/* --- Main --- */

main {
  display: block;
}

.container {
  top:0;
  display:block;
  width: 70%;
  background-color: #F1F1F1;
  border-radius: 18px;
  margin:auto;
  margin-top: 60px;
  padding-bottom: 36px;
}

.container-skjema {
  top:0;
  display:block;
  width: 70%;
  background-color: #F1F1F1;
  border-radius: 18px;
  margin:auto;
  margin-top: 60px;
  padding-bottom: 36px;
  border-left: 2px solid #253D27;
  border-right: 2px solid #253D27;
}


.container-tekst {
  width: 60vw;
  font-family: Rubik;
  color: #232323;
  font-size: 18px;
  margin:auto;
  overflow-wrap: break-word; /* ✅ Breaks long words instead of overflowing */
  word-break: break-word;   /* ✅ Additional safety */
  padding-top: 60px;
}

.container-tekst h1,h2,h3,h4 {
  color: #214127;
  padding-top: 36px;
}

.container-tekst h1 {
  font-size: clamp(1.7rem, 4vw, 2.4rem); /* Bruk clamp for responsiv font-størrelse */
  margin: 0;
}
.container-tekst h2 {
  font-size: clamp(1.3rem, 3vw, 2rem); /* Bruk clamp for responsiv font-størrelse */
  margin: 0;
}

.container-tekst h3 {
  font-size: clamp(1rem, 2vw, 1.5rem); /* Bruk clamp for responsiv font-størrelse */
  margin: 0;
  text-decoration: underline;
}

#container-button {
  width:100%;
  display:flex;
  justify-content: center;
  padding-top: 36px;
}

.button {
  color: #FFF;
  background-color: #54895E;
  font-size: 32px;
  font-family: "Hammersmith One";
  padding: 8px;
  margin: 0;
  cursor: pointer;
  border-radius: 18px;
  text-decoration: none;
}

.button:hover {
  background-color: #2f6b3e; 
  transform: translateY(+2px); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


