html, body {
  margin: 0;
  padding: 0;
}


/* --- Banner --- */

#banner {
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(171deg, #214127 38.88%, #CEEEC1 193.84%);
  color: white;
  justify-content: center;
}

#banner-container {
  width: 60vw;
  display: flex;  
  padding-top: 20px;
  padding-bottom: 20px;
}

#banner-tekst {
  flex: 64;
  color:#FEFEFE;
  font-family: Rubik;
  font-size: 20px;
}

#banner-tekst h1 {
  font-size: 36px;
}

.text-box {
  font-family: Rubik;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: normal;
  line-height: 150%; /* 110% */
  margin-left: 5vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  gap: 10px;
}

#front-image {
  width: 48%;
  flex-shrink: 0;
  object-fit: cover;
}


main {
  display: block;
}

.misjon-bilde {
  flex: 0 0 auto;
  max-width: 300px;
  float: left;
  margin-right: 55px;
}

.container {
  top:0;
  display:block;
  width: 70%;
  background-color: #F1F1F1;
  border-radius: 18px;
  margin:auto;
  margin-top: 60px;
  padding-bottom: 36px;
}

.container-tekst {
  width: 60vw;
  font-family: Rubik;
  color: #232323;
  font-size: 18px;
  margin:auto;
}

.container-tekst h1 {
  color: #214127;
  padding-top: 36px;
}

.container-tekst h1 {
  font-size: 36px;
}

#container-button {
  width:100%;
  display:flex;
  justify-content: center;
  padding-top: 36px;
}

.button {
  color: #FFF;
  background-color: #54895E;
  font-size: 32px;
  font-family: "Hammersmith One";
  padding: 8px;
  margin: 0;
  cursor: pointer;
  border-radius: 18px;
  text-decoration: none;
}

.button:hover {
  background-color: #2f6b3e; 
  transform: translateY(+2px); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}





